# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Credenciais (NUNCA suba para o GitHub)
*.key
*.pem
secrets.json
